<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/css/fontawesome/all.min.css" >
    <link rel="stylesheet" href="/static/css/toastr.min.css" >
    <link rel="stylesheet" href="/static/css/local.css" >
    <link href="/static/css/select2.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/loader.js"></script>
    {% block style %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" >
    <div class="container-fluid body-content">
        <div class="navbar-header">
             <img src="/static/img/inmarsat-logo.png" alt="" />
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
		    <li>
                    <a href="/">Fleet Compute</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
		    <li>
                    <a href="/users"
                       title="{% i18n "Manage users" %}">{% i18n "Users" %}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.id %}
                    <li class="">
                        <a href="/logout">{% i18n "Sign out" %}</a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="/login">{% i18n "Sign in" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid body-content">
    {% block content %}{% endblock %}
</div>
<script src="/static/js/jquery/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/check-password.js"></script>
<script src="/static/js/eModal.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/bootstrap-switch.min.js"></script>
<script src="/static/js/local.js"></script>
{% block script %}{% endblock %}
</body>

<script>

var event_source; // for the main eventsource in sidebar

</script>
</html>
