{% extends "base.html" %}
{% block title %}{% i18n "Overview" %}{% endblock %}
{% block content %}
   {% include 'sidebar.html' %}
      <br>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <!-- <h1 class="h2">Host Information</h1> -->
      </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2  content">
            <div style="background-color: #eee"  class="card ">
              <div style="text-align:center;background-color: #ddd"  class="card-header">
                <span class="card-title">CPU</span>
              </div>
		<div  id="chart_cpu" ></div> 
              <div class="card-body"> <br />
                <strong>Type:</strong> {{ host.cpuVendor }} /  {{ host.cpuArch }}  <br>
                <strong>Count:</strong> {{ host.cpus }}  <br>
		<strong>Speed:</strong> {{ host.cpus_f }}  MHz <br>
		<strong>Nodes/Sockets/Cores/Threads:</strong> {{ host.cpuNodes }}/{{ host.cpuSockets }}/{{ host.cpuCores }}/{{ host.cpuThreads }} <br> 
	      </div>
              <div class="card-footer">
              </div>
            </div>
          </div>
	
          <div class="col-md-4 content">
            <div style="background-color: #eee"  class="card ">
              <div style="text-align:center;background-color: #ddd"  class="card-header">
                <span class="card-title">Memory</span>
              </div>
		<div id="chart_mem" ></div>
              <div class="card-body"> <br />
                <strong>Total:</strong> {{ host.memoryPretty }} <br>
		<strong>Used:</strong> {{ host.usedMemoryPretty }} <br>
		<strong>Free:</strong> {{ host.freeMemoryPretty }} <br /> </div>
              <div class="card-footer">
              </div>
            </div>
          </div>

 
          <div style="width:16%" class="col-md-2  content">
            <div style="background-color: #eee" class="card ">
              <div style="text-align:center;background-color: #ddd" class="card-header">
                <span class="card-title">System</span>
              </div>
              <div class="card-body">
                <strong>Host:</strong> {{ host.hostname }} <br />
		<strong>Hardware Vendor:</strong> {{ host.hardware_vendor }} <br />
                <strong>Hypervisor:</strong> {{ host.hypervisor }}-{{host.hypervisor_version }} <br>
		<strong>Libvirt:</strong> {{ host.libvirt_version }} <br>
		<strong>Product:</strong> {{ host.hardware_product }} <br />
		<strong>Serial:</strong> {{ host.hardware_serial }} <br />
		<strong>Bios Vendor:</strong> {{ host.bios_vendor }} <br />
		<strong>Bios Version/Date/Release:</strong> {{ host.bios_version }}/{{ host.bios_date }}/{{ host.bios_release }} </br /> </div>
              <div class="card-footer">
              </div>
            </div>
          </div>


  
          <div style="width:80%" class="col-md-9 col-md-offset-2  content">
            <div style="background-color: #eee" class="card ">
              <div style="text-align:left;background-color: #ddd" class="card-header">
                <span class="card-title">Storage</span>
              </div>
              <div class="card-body">

                  <div class='table-responsive'>
		      <table class='table table-condensed'>
		              <tr><th> Name</th><th> Percentage</th><th> Type</th><th> Size</th><th> Usage</th><th> Free</th> </tr>
			      {% for pool in storages %}
			      <tr><td>{{ pool.name }}</td>
			      <td>
			      <div class='progress'>
                  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ pool.percent }}%" aria-valuenow=" {{ pool.percent }} " aria-valuemin="0" aria-valuemax="100">{{ pool.percent }}%</div>
		              </div>
			      </td>
			      <td>{{ pool.type|upper }}</td><td> {{ pool.size }} </td><td> {{ pool.used }}</td><td>{{ pool.sfree }}</td></tr>
			       {% endfor %}
	              </table>
		  </div>             
		</div>
              <div class="card-footer">
              </div>
            </div>
          </div>

{% include 'sidebar_close.html' %}
{% endblock %}
