{% extends "base.html" %}
{% block title %}{% i18n "Virtual Networks" %}{% endblock %}
{% block content %}
    {% include 'sidebar.html' %}
    <div class="col-md-9 col-md-offset-2 content">
        <div class="btn-group-sm">
        </div>
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if form.name.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.subnet.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.subnet.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.bridge_name.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.bridge_name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if not networks.size %}
            <div class="well">
                <h4>{% i18n "You do not have any virtual networks" %}</h4>
            </div>
        {% else %}
            <div class="row" role="main">
                {% for pool in networks %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="panel {% if pool.active %}panel-success{% else %}panel-danger{% endif %} panel-data">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="/networks/{{ host_id }}/{{ pool.name }}">{{ pool.name }}</a></h3>
                            </div>
                            <div class="panel-body">
                                <p>{% i18n "Device" %}: {{ pool.device }}{{ pool.bridgeName }}</p>

                                <p>{% i18n "Forward" %}: {{ pool.forwardMode|upper }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% include 'sidebar_close.html' %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#forward_select').change(function (eventObject) {
                if ($(this).val() == 'bridge') {
                    $('.bridge_name_form_group').show();
                    $('.bridge_name_form_group_dhcp').hide();
                } else {
                    $('.bridge_name_form_group').hide();
                    $('.bridge_name_form_group_dhcp').show();
                }
            }).change();
        });
    </script>
{% endblock %}
