{% extends "base.html" %}
{% block title %}{% i18n "Dashboard" %}{% endblock %}
{% block style %}
<link href="/static/css/table-sort.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% if form.name.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if form.hostname.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% for error in form.hostname.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if form.login.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% for error in form.login.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if form.password.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {% for error in form.password.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if error_msg %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ error_msg }}
        </div>
        {% endif %}
        <div class="page-header">

            <h1>{% i18n "Connections" %}</h1>
        </div>
        <div class="row" role="main">
            {% if servers.size %}
            {% for host in servers %}
            <div class="col-xs-12 col-sm-4">
                <div class="panel {% if host.alive %}panel-success{% else %}panel-danger{% endif %} panel-data">
                    <div class="panel-heading">
				                {% if host.alive %}
                        <h3 class="panel-title">
                            <a href="/instances/{{ host.id }}"><strong>{{ host.name }}</strong></a>
                            <a data-toggle="modal" href="#editHost{{ host.id }}" class="pull-right"
                               title="{% i18n "Edit" %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </h3>
				                {% else %}
                        <h3 class="panel-title">
                            <a href="/instances/{{ host.id }}" onclick="return alert('{% i18n "Connection is offline, trying to establish the connection" %}')"><strong>{{ host.name }}</strong></a>
                            <a data-toggle="modal" href="#editHost{{ host.id }}" class="pull-right"
                               title="{% i18n "Edit" %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </h3>
				                {% endif %}
                    </div>
                    <div class="panel-body">
                        <p>
                            <form action="" method="post" role="form">{% c_csrf_token %}
                                <input type="hidden" name="host_id" value="{{ host.id }}">
                            </form>
                            <p>
                                <p><strong>{% i18n "Vessel" %}:</strong> {{ host.vesselname }}</p>
                                <p><strong>{% i18n "Serial Number" %}:</strong> {{ host.id }}</p>
				                        <p><strong>{% i18n "Customer Number" %}:</strong> {{ host.cnumber }}</p>
                                <p><strong>{% i18n "Host" %}:</strong> {{ host.hostname }}</p>
                                <p><strong>{% i18n "Version" %}:</strong> {{ host.version }}</p>
                                <!-- Modal Edit -->
                                <div class="modal fade" id="editHost{{ host.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="editHostLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">{% i18n "Edit Remote Site" %}
                                                </h4>
                                            </div>
                                            <div class="tab-content">
                                                {% if host.type == 2 %}
                                                <form class="form-horizontal" method="post" role="form">{% c_csrf_token %}
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label">{% i18n "Name" %}</label>

                                                        <div class="col-sm-6">
                                                            <input type="hidden" name="host_id" value="{{ host.id }}">
                                                            <input type="text" name="name" class="form-control"
                                                                   value="{{ host.name }}" maxlength="40" required
                                                                   pattern="[a-zA-Z0-9\.\-_ ]+">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">{% i18n "Close" %}</button>
                                                        <button type="submit" class="btn btn-primary"
                                                                name="host_edit">{% i18n "Save" %}</button>
                                                    </div>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-sm-12">
                <div class="well">
                    <h4>{% i18n "You have no connection" %}</h4>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
   localStorage.clear();
   host_lastCpusUsage=0;
   host_lastMemUsage=0;
   host_allSystemUsage=[];
   localStorage.setItem("allSystemUsage", JSON.stringify(host_allSystemUsage));
   localStorage.setItem("host_lastCpusUsage", JSON.stringify(host_lastCpusUsage));
   localStorage.setItem("host_lastMemUsage", JSON.stringify(host_lastMemUsage));
</script>
{% endblock %}
