{% extends "base.html" %}
{% block title %}{% i18n "Storages" %}{% endblock %}
{% block content %}
    {% include 'sidebar.html' %}
    <div class="col-md-9 col-md-offset-2 content">
        <div class="btn-group-sm">
        </div>
        {% if error_msg %}
                <div class="alert alert-danger" style="margin-top:10px">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error_msg }}
                </div>
        {% endif %}
        {% if form.name.errors %}
            <div class="alert alert-danger" style="margin-top:10px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.target.errors %}
            <div class="alert alert-danger" style="margin-top:10px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.target.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.source.errors %}
            <div class="alert alert-danger" style="margin-top:10px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for error in form.source.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if not storages.size %}
            <div class="well">
                <h4>{% i18n "You do not have any storage pools" %}</h4>
            </div>
        {% else %}
            <div class="row" role="main">
                {% for pool in storages %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="panel {% if pool.active %}panel-success{% else %}panel-danger{% endif %} panel-data">
                            <div class="panel-heading">
                                <h3 class="panel-title"><a href="/storages/{{ host_id }}/{{ pool.name }}">{{ pool.name }}</a></h3>
                            </div>
                            <div class="panel-body">
                                <p>{% i18n "Type" %}: {{ pool.type|upper }}</p>

                                <p>{% i18n "Size" %}: {{ pool.size }}<!--|filesizeformat--></p>

                                <p>{% i18n "Volumes" %}: {{ pool.volumeCount }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
   {% include 'sidebar_close.html' %}
{% endblock %}
{% block script %}
<script src="/static/js/jquery/jquery.form.min.js"></script>
{% endblock %}
