{% extends "base.html" %}
{% block title %}{% i18n "Change password" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% if error_msg %}
     	      <script type="text/javascript">
                function ShowAlert() {
                     var title = 'FleetCompute Errors';

                    return eModal
                              .alert('{{ error_msg }}' , title);
                  };
             </script>
        {% endif %}
        <form class="form-signin" method="post" onsubmit="return checkPassword(this)">
	{% c_csrf_token %}
            <h2 class="modal-title">Change password</h2>
            <div>
                <label for="ex_password">Existing Password</label>
                <input type="password" class="form-control" id="ex_password" name="ex_password" autocomplete="off" required>
            </div>
            <div>
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password" autocomplete="off" required>
            </div>
            <div>
                <label for="password_conf">New Password Confirmation</label>
                <input type="password" class="form-control" id="password_conf" name="password_conf" autocomplete="off" required>
            </div>
            <div class="form-model-footer">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
     function is_function(func) {
        return typeof window[func] !== 'undefined' && $.isFunction(window[func]);
     }

        $(function () {

        if (is_function("ShowAlert")){
              ShowAlert();
          }

        });
</script>

{% endblock %}



