{% extends "base.html" %}
{% block title %}{% i18n "Users" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="pull-left">
	  <a class="btn btn-primary" href="/users/create" role="button">Add User</a>
  </div>
</div>

<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col" style="text-align:center;width: 300px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for usr in users %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ usr.1 }}</td>
      </td>
      {% if usr.1 == "admin" %}
      <td>
        <a role="button" class="btn btn-primary btn-sm" href="/users/change_password/{{ usr.0 }}">Change Password</a>
        <a role="button" class="btn btn-primary btn-sm disabled">Delete</a>
      </td>
      {% else %}
      <td>
        <a role="button" class="btn btn-primary btn-sm" href="/users/change_password/{{ usr.0 }}">Change Password</a>
        <a role="button" class="btn btn-primary btn-sm" href="/users/delete_user/{{ usr.0 }}" onclick="return confirm('Are you sure want to delete?')">Delete</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
